body {
    margin: 0%;
}

.Literacy-words {
    margin: 10px;
    background-color: lightblue;
    padding: 10px;
    box-shadow: 4px 4px 4px;
}

p {
    font-size: 20px;
}

h2 {
    font-size: 30px;
    text-decoration: underline;
}

.data-text {
    margin-left: 10px;
}

.container {
    margin: 10px;
    overflow: scroll;
    height: 500px;
}

.Button {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.home-button {
    padding: 20px;
}