body {
    margin: 0%;
}

h2 {
    text-align: center;
    font-size: 200%;
}

.reload-icon {
    justify-content: center;
    margin: auto;
    display: flex;
    box-shadow: 4px 4px 4px;
}

p {
    text-align: center;
    margin: 10px;
}

.Button {
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px;
}

.button-set-one {
    padding: 20px;
}