body {
    margin: 0px;
}

.game {
    display: flex;
    justify-content: center;
    margin-top: -45px;
    /*pushes the game button upwards*/
}

.game-button {
    padding: 30px;
    width: 250px;
    font-size: 150%;
    border-radius: 30px;
    box-shadow: 2px 2px;
}


.text {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}


.options-container {

    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 70px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /*controls the inside elements*/
    background-color: rgba(0, 157, 255, 0.615);
    border-radius: 15px;



}

.pink-buttons {
    padding: 12px;
    width: 255px;
    font-size: 150%;
    background-color: #e8759c;
    border-radius: 20px;
    box-shadow: 5px 5px;


}

.age-logo {
    margin-left: 120px;
    margin-top: 20px;
    justify-content: center;
    display: flex;



}