body {
    margin: 0px;
}

.game {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.game-button {
    padding: 30px;
    width: 250px;
    font-size: 150%;
    border-radius: 30px;
}



.options-container {
   
    margin:50px auto;
    
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    background-color: lightblue;
    border-radius: 15px;
    width: 600px;
    height: 700px;
   
    
}

.interactions-button {
    padding: 30px;
    width: 375px;
    font-size: 150%;
    background-color: #e8759c;
    border-radius: 20px;
    

}


.basics-button {
    padding: 30px;
    width: 375px;
    font-size: 150%;
   background-color: #e8759c;
    
}

.definitions-button {
    padding: 30px;
    width: 375px;
    font-size: 150%;
    border-radius: 20px;
    background-color: #e8759c;
  
    



}

.practice-button {
    padding: 30px;
    width: 375px;
    font-size: 150%;
    border-radius: 20px;
    background-color: #e8759c;
}
.age-logo{
    margin:auto;
    justify-content: center;
    display: flex;
    
    

}