body {
    margin: 0px;
}

* {
    font-family: sans-serif;
}


body::before {
    content: "";
    /* Necessary property for pseudo-element such as before or after */
    position: fixed;
    /* ensures the border is anchored to the edges and will not be in a flow at some other point*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    /* this ensures our toggle element still works as it prevents this element from having any events related
    to the mouse */
    border: 15px solid rgba(0, 157, 255, 0.615);
    ;
    /* adjust thickness and color */
    box-sizing: border-box;
    z-index: 9999;
    /* ensures this border is on top of everything else, as z controls how much 'out' of the screen it*/
}

.page-title {
    background-color: rgba(0, 157, 255, 0.615);
    margin-top: 0px;
    padding: 40px;
    text-align: center;
    font-size: 40px;
}

.main-body {
    background-color: rgba(0, 157, 255, 0.615);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 20px;
}

.START-button {
    font-size: 50%;
}

p {
    font-family: sans-serif, Arial, Helvetica;
}

.Age-UK-symbol {
    margin-left: 30px;
}

.start {
    padding: 20px;
    width: 120px;
    font-size: 200%;
    border-radius: 30px;
    box-shadow: 4px 4px 4px;
    background-color: rgba(240, 127, 231, 0.615);
}

footer {
    background-color: rgb(21, 164, 226);
    margin-top: 30px;
    padding: 20px;
    text-align: center;

}