#attributes-container {
    margin-left:50px;
    margin-right:50px;
    margin-bottom:20px;
    padding-bottom:20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content:center;
    align-items: center; /*controls the inside elements*/
    background-color: lightblue;
    border-radius: 15px;    
}

#attributes-list {
    font-size: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: flex-start; /* <-- THIS aligns list items to the left */
    width: 100%; /* optional but helps ensure alignment consistency */
    padding-left: 100px; /* optional: adds left spacing inside container */
}

#values-list {
    font-size: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start; /* <-- THIS aligns list items to the left */
    width: 100%; /* optional but helps ensure alignment consistency */
    margin-left: 100px; /* optional: adds left spacing inside container */
    margin-top: -170px;

}

#values-list li {
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#mode-label {
    padding-right: 128px; /* optional: adds left spacing inside container */
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start; /* <-- THIS aligns list items to the left */
    font-size: 20px;
    color: #000;
}
body {
    margin: 0%;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 200px;
    margin-top: -250px;
    margin-left: 120px;
    width: 110px;
    height: 50px;
    position: relative;
    display: block;
    background-color: aliceblue;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgb(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

label:after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 2);
    transition: 0.3s;
}

input {
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked+label {
    background: #242424;
}

input:checked+label:after {
    left: 100px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a)
}

label:active:after {
    width: 95px;
}

.background {
    width: 100vw;
    height: 200vh;
    background: rgb(167, 216, 248);
    z-index: -1;
    position: absolute;
    transition: 0.3s;
}

input:checked + label + .background {
    background: rgb(15, 0, 99);
}

